<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busful">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/phone_menu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/phone_menu"
        android:supportsRtl="true"
        android:theme="@style/Theme.Busful">
        <activity android:name=".MainMenu" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMenu"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDE8PifSAP-eDAQegmRUESUDFz6LL86PtU"/>
    </application>

</manifest>